{% extends 'base.html' %}
{% load static %}

{% block title %}Vote for your favorite {{ category.name }}{% endblock title %}


{% block content %}
    <p class="text-center text-black text-4xl font-bold py-4">{{ category.name }}</p>

    <div class="mx-10">

        <!--
               display:
                - the candidate name
                - the candidate picture
                - a vote button beneath each candidate
                - a hidden field for the upvote, that will be ticked when the vote button is clicked
           -->

        {{ formset.management_form }}
        {% for form in formset %}

           <!-- Fullname -->
           <div>
                {{ form.full_name.value }}
                <img src="{{ MEDIA_URL }}{{ form.picture.value }}" style="width:300px; height: 300px">
           </div>

        {% endfor %}

    </div>
{% endblock content %}