{% extends 'base.html' %}

{% block title %}Voting Categories{% endblock title %}


{% block content %}
    <div class="mx:2 sm:mx-10 my-20">
        <h1 class="text-5xl md:text-5xl lg:text-6xl font-extrabold text-center bg-white py-5 w-full shadow-xl">Portfolios</h1>
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-5 lg:gap-10 my-16">
            {% for category in categories %}
                <a href="{% url 'vote_app:vote' category.slug %}" class=" bg-gray-800 text-white p-16 text-center border border-gray-300 text-3xl lg:text-4xl font-bold shadow-xl rounded hover:bg-gray-900 transition delay-100 duration-100 ease-linear" data-aos="fade-right" data-aos-delay="100" data-aos-duration="1500">
                    <h2>{{ category.name }}</h2>
                </a>

            {% endfor %}
        </div>
    </div>
{% endblock content %}