<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body >
    
    <h1 style="color: rgb(209, 18, 18);">
        Voter with Issue
    </h1>

    <h2 style="color: maroon; font-size: 1.5rem;">Student Details</h2>
    <h3 >Student Name: <span style="color: rgb(202, 8, 105)">{{ full_name }}</span></h3>
    <h3 >Student ID: <span style="color: rgb(202, 8, 105)">{{ student_id }}</span></h3>
    <h3 >Email Address: <span style="color: rgb(202, 8, 105); list-style: none;">{{ email_address }}</span></h3>

    <div style="margin-top: 0.6rem;">
        <h3 style="color: maroon; font-size: 1.5rem;">Student's Complaint Message</h3>
        <p style="font-size: 1.3rem;">{{ msg }}</p>
    </div>

</body>
</html>