{% extends 'base.html' %}

{% block title %}Homepage{% endblock title %}


{% block content %}
    <h1 class="text-center text-5xl font-bold py-3 text-yellow-600">Welcome</h1>

    <div class="mx-5">

        {% comment %} <a href="{% url 'users:signup' %}" % class="text-lg text-red-600"}>Signup</a> {% endcomment %}
        <a href="{% url 'users:login' %}" % class="text-lg text-purple-600"}>Login</a>
        <a href="{% url 'vote_app:vote-categories' %}" class="text-lg text-blue-500">Vote</a>
        <a href="{% url 'vote_app:results' %}" % class="text-lg text-green-600"}>Result</a>
        <a href="{% url 'users:logout' %}" class="text-lg text-red-600">Logout</a>


    </div>
{% endblock content %}