{% extends 'base.html' %}

{% block title %}University of Ghana Association of Psycology Students Voting Platform{% endblock title %}


{% block content %}

<div class="px-2 md:px-5 lg:px-10 mb-60">
    <h1 class="text-6xl lg:text-8xl font-extrabold leading-snug text-center text-gray-900 py-3">
        University of Ghana Association of Psychology Students <span class="text-yellow-700">Online Voting Platform</span>
    </h1>

    <h2 class="text-gray-500 text-center py-16 text-4xl md:text-6xl font-bold">
        Thank you for showing up to support your candidate of choice
    </h2>

    <!--
        TODO - 
        1. Add buttons on the homepage for vote and results
        2. Use a slider to display images of the candidates in each category
        3. Write a small copy on the homepage on how people will vote
        4. Answer the question of people not being able to login
    -->

    <section> <!-- How do I vote section-->

    </section>

    <section> <!-- I can't log in with my credentials-->

    </section>
</div>

{% endblock content %}