{% extends 'base.html' %}

{% block title %}University of Ghana Association of Psycology Students Voting Platform{% endblock title %}


{% block content %}

<div class="">
    <div class="">
        <h1 class="text-5xl md:text-7xl lg:text-8xl font-extrabold leading-snug text-center text-gray-700 py-3 md:leading-snug">
            University of Ghana Association of Psychology Students
        </h1>
        <h2 class="text-yellow-700 text-4xl md:text-5xl lg:text-7xl py-5 text-center font-bold">Online Voting Platform</h2>
    </div>

    <div class="grid grid-rows-2 text-center mt-10">
        <div>
            <p class="text-2xl md:text-4xl pb-0 text-gray-800 font-bold">Thank you for showing up to cast your vote</p>
            <p class="py-3 font-bold text-blue-500 text-xl">What do you want to do next? </p>
            <i class="fas fa-arrow-circle-down animate-pulse py-5 text-5xl text-red-600"></i>
        </div>

        <div class="flex flex-col md:flex-row justify-evenly mt-1 md:mt-5 lg:mt-0 bg-blue-100 shadow-xl p-8">
            <a href="{% url 'vote_app:vote-categories' %}" class="flex w-full"><button class="bg-blue-600 hover:bg-blue-800 w-full text-2xl font-bold text-white py-5 md:mx-2 rounded-2xl">Cast a Vote</button></a>

            <a href="{% url 'vote_app:results' %}" class="flex w-full mt-5 md:mt-0"><button class="bg-green-600 hover:bg-green-800 w-full text-2xl font-bold text-white py-5 md:mx-2 rounded-2xl">View the Results</button></a>
        </div>
    </div>

    <!--
        TODO - 
        1. Add buttons on the homepage for vote and results
        2. Use a slider to display images of the candidates in each category
        3. Write a small copy on the homepage on how people will vote
        4. Answer the question of people not being able to login
    -->

    <div class="my-16">
        <h1 class="font-bold text-center text-2xl md:text-4xl">How Do I Cast My Vote?</h1>

        <ul>
            <li class="">Item One</li>
            <li>Item Two</li>
        </ul>
    </div>

    <section> <!-- I can't log in with my credentials-->

    </section>
</div>

{% endblock content %}